<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <queries>
        <!-- If you want to check if WhatsApp is installed -->
        <package android:name="com.whatsapp" />
    </queries>
    <application
        android:name=".utils.DriverApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_sagor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sagor_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SagarDriverApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".utils.LocationService"
            android:foregroundServiceType="location" />
        <service
            android:name=".utils.SchoolDriverLocationService"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_search_key" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Meta-data for notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sagor_app_icon" /> <!-- Add your notification icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <activity

            android:name=".uis.home.ChildListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity

            android:name=".uis.myRide.ReportIssueActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.myRide.MyRideChildActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.home.StartTripActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.home.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.home.ContactUsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.home.PolicyTextScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.myRide.MyRideActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.login.DriverLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".uis.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>